<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nonutssdkdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- google支付权限 -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- bugly -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--appsflyer-->
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <!--af Optional -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--存储照片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />




    <application
        android:name="com.nutsplay.nonutssdk.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nutsplay.nonutssdk.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.nutsplay.nopagesdk.ui.PayWebActivity"
            android:theme="@style/Theme.AppCompat"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection|keyboardHidden|keyboard"/>

        <activity android:name="com.nutsplay.nonutssdk.NoUIActivity"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection|keyboardHidden|keyboard"/>

        <activity android:name="com.nutsplay.nopagesdk.ui.ScreenShotActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection|keyboardHidden|keyboard"/>

        <!--appsflyer-->
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>